<%-include('header.ejs')%> 

<form action="/calculator/calculateEmission" method="post">
    <ul>
        <li>탄소계산기</li>
        <li>foodname: <input type="text" name="foodname" required></li>

        <button type='submit'>확인</button>
    </ul>
</form>
<h1>탄소 배출 결과</h1>
<p><%= foodname %>의 탄소 배출량은 <%= emission %>입니다.</p>

<%-include('footer.ejs')%>