<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        
    <h1> 테스트중입니다. </h1>
    <hr>

    <header style="border-bottom: 1px solid #aaa; margin-bottom:10px; padding: 10px;">
        <nav>

            <a href="/">홈</a>
            <a href="/addrecipe">레시피저장하기</a>
            <a href="/addingredient">재료별 탄소배출량저장하기</a>
            <a href="/calculator">탄소계산기</a>
            <a href="/profile">프로필</a>
            <a href="/score">점수보기</a>
            <a href="/login">로그인</a> 

        </nav>
    </header>